* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(248, 235, 219);
}

.image {
    background-image: url("../images/ASpot_Weather.jpg");
    background-size: cover;
    height: 150px;
}

h1 {
    font-size: 50px;
    color: white;
}

.weather {
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width: 200px;
    height: 170px;
    background-color: white;
}

.hide {
    display: none;
}

.card {
    border: none;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}

.temperature, 
.wind,
.humidity,
.uvIndex {
    font-weight: bold;
    font-size: 16px;
}

.savedCities {
    margin-top: 100px;
}

.consistent {
    width: 250px;
}

.savedSearches {
    width: 150px;
    height: 30px;
}